* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
}

.accordion {
  display: table;
  width: 100%;
  height: 100vh;
}
.accordion > input {
  display: none;
}

.accordion__item {
  cursor: pointer;
  display: table-cell;
  width: 10%;
  height: 50%;

  background:  rgba(64, 0, 1, 0.85);
  transition: 0.85s ease-in-out;
  opacity: 0.95;
  padding: 0;
}
.accordion .accordion__item:hover {
  height: 100%;
  width: 30%;
  opacity: 1;
}

.container{
  position: relative;
  display: flex;
}

.img-cont{
  position: absolute;
  top: 30%;
  left: 25%;

  width: 50%;
  opacity: 1;
  transition: 0.35s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first__img{
  width: 95%;
}
.img{
  width: 70%;
}

.accordion__item:hover  .img-cont{
  opacity: 0;
}

.img-cont h2{
  margin-top: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.61);
  font-weight: bold;
  font-size: 26px;
  padding: 10px;
  border-bottom: 5px solid #fefefe;
}

.tittle{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 50px;
  padding: 30px;
}

.tittle h2{
  display: none;
  transition: 0.35s ease-in-out;
  justify-self: center;
  color: #fefefe;
  font-size: 18px;
}
.tittle img{
  justify-self: center;
  display: none;
  transition: 0.35s ease-in-out;
}

.accordion__item:hover  .tittle img, .accordion__item:hover .tittle h2{
  width: 100%;
  display: unset;
}

#first__cont {
  height: 100%;
  background: no-repeat
      linear-gradient(
        180deg,
        rgba(64, 0, 1, 0.55) 70%,
        rgba(0, 0, 0, 0.85) 100%
      );
    /*url(./items/for-btns.png) center / cover;*/

}

#second__cont {
  height: 100%;
  background: no-repeat
      linear-gradient(
        180deg,
        rgba(64, 0, 1, 0.55) 70%,
        rgba(0, 0, 0, 0.85) 100%
      );
}

#third__cont {
  height: 100%;
  background: no-repeat
      linear-gradient(
        180deg,
        rgba(64, 0, 1, 0.55) 70%,
        rgba(0, 0, 0, 0.85) 100%
      );
}

#fourth__cont {
  height: 100%;
  background: no-repeat
      linear-gradient(
        180deg,
        rgba(64, 0, 1, 0.55) 70%,
        rgba(0, 0, 0, 0.85) 100%
      );
}

@media(max-width: 1000px){
  .accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200vh;
  }
  .accordion > input {
    display: none;
  }
  .accordion > input:checked + .accordion__item {
    height: 50%;
    width: 100%;
    opacity: 1;
  }

  .img-cont{
    display: none;
    font-size: 34px;
  }

  .accordion__item {
    cursor: pointer;
    display: table-cell;
    width: 100%;
    height: 50%;
    transition: 0.85s ease-in-out;
    opacity: 1;
  }

  .tittle{
    grid-gap: 0;
  }

  .tittle img, .tittle h2{
    display: unset;
  }

  .tittle img{
    width: 250px;
    display: unset;
  }

  .tittle h2{
    font-size: 10px;
    text-align: center;
  }

  .accordion .accordion__item:hover {
    display: table-cell;
    height: 50%;
    width: 100%;
    opacity: 1;
  }
}