* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.root {
  --orange-color: #ef7f1a;
}

body {
  margin: 0;
}

button,
a {
  background: 0;
  border: 0;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
}

.first-page {
  min-height: 800px;
  min-width: 1000px;
  background: no-repeat
      linear-gradient(180deg, rgba(64, 0, 1, 0.65) 50%, rgb(255, 255, 255) 100%),
    url("./items/6_Interactive LightMix.jpg");
  /*background-position-y: ;*/
  background-size: cover;
}

.bg{
  width: 100%;
}

.header {
  height: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 45% 30%;
  align-items: center;
}

.logo {
  height: 100px;
  width: 300px;
  background: 0;
  justify-self: end;
  display: flex;
  align-items: center;
}

.datka-img {
  width: 130px;
  height: 140px;
}

.logo__text {
  width: 130px;
  height: 80px;
  background: rgba(255, 5, 0, 0.25);
  font-size: 15px;
  font-weight: bold;
  padding: 6px 0 0 3px;
  border-radius: 0 0 18px 0;
}

.logo:hover {
  transform: scale(1.04);
}

/*logo*/

nav {
  justify-self: end;
  padding-right: 20px;
  font-size: 18px;
}

nav button {
  font-size: inherit;
}

nav button:hover {
  transform: scale(1.1);
}

/*nav*/

.contact-list {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 35%;
  align-items: center;
  justify-content: center;
}

.languages {
  width: 30px;
  height: 70px;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid white;
  font-size: 12px;
  border-radius: 12px 12px;
}

.languages__btn {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.languages__btn1 {
  border-radius: 12px 12px 0 0;
}

.languages__btn3 {
  border-radius: 0 0 12px 12px;
}

.languages__btn:hover,
.languages__:focus {
  background: white;
  color: #3e42ff;
  cursor: pointer;
  transform: scale(1.1);
}

.nums {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nums button:hover {
  border-bottom: 1px solid white;
  transform: scale(1.1);
}

.contact-list__text {
  width: 100%;
  height: 60px;
  background: rgba(255, 5, 0, 0.25);
  font-size: 14px;
  font-weight: bold;
  padding: 2px 0 0 10px;
  border-radius: 0 18px 18px 18px;
  line-height: 18px;
  cursor: pointer;
}

.second-page {
  min-height: 1600px;
  min-width: 1000px;
  padding-bottom: 10vh;
}

.second-page__bg {
  width: 100%;
  height: 100%;
  background: white;

  text-align: center;
  padding-bottom: 10vh;
}

.rows {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.row {
  height: 400px;
  width: 250px;
  display: grid;
  grid-template-rows: 70% 30%;
  color: black;
  justify-content: center;
}

.row__img {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px 10px;
}

.row__img span {
  color: #5c0001;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}

.row__img b {
  color: #5c0001;
  font-size: 62px;
  line-height: 50px;
  margin: 10px;
}

.row__tittle {
  max-height: 100px;
  max-width: 220px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(173, 4, 0, 0.71);
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;

  padding: 20px;
  border-radius: 0 0 29px 0;
}

.second-page__tittle {
  width: 100%;
  height: 350px;
  display: grid;
  grid-template-rows: 40% 1fr;
}

.second-page__tittle h2 {
  align-self: end;
  font-weight: bold;
  font-size: 32px;
  color: #5c0001;
}

.second-page__tittle__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.second-page__tittle ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.second-page__tittle ul li {
  max-width: 600px;
  text-align: start;
  font-size: 24px;
  color: #5c0001;
  margin-left: 30px;
} /*2 page*/
/*-----------------------------------------------------------*/

.third-page {
  background: linear-gradient(
      180deg,
      rgba(64, 0, 1, 0.81) 50%,
      rgb(0, 0, 0) 100%
    ),
    url("./items/for-btns.png") center / cover;
  min-height: 900px;
  min-width: 1200px;
}

.third-page__btns {
  position: relative;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 130px 1fr;
}

.third-page__btns h2 {
  font-size: 42px;
  color: whitesmoke;
  padding: 20px 30px;
  margin: 0 0 25px 0;
  text-align: center;
  background: rgba(92, 0, 1, 0.66);
}

.domik__btn:hover {
  background: rgba(164, 0, 1, 0.25);
  border: 1px solid #000000;
}

.house-cont-for-btn {
  align-self: center;
  justify-self: center;

  background: linear-gradient(
      180deg,
      rgba(92, 0, 1, 0.17) 50%,
      rgba(0, 0, 0, 0.69) 100%
    ),
    url("./items/for-btns.png") center / cover;
  background-repeat: no-repeat;
  width: 1000px;
  height: 650px;
  padding-top: 130px;
  padding-bottom: 10px;

  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-row-gap: 17px;
}
.btn11 {
  width: 900px;
  justify-self: center;
}

.btn2,
.btn3,
.btn4,
.btn5,
.btn6,
.btn7,
.btn8,
.btn9,
.btn10,
.btn1 {
  width: 1000px;
  justify-self: center;
}

.window {
  width: 1100px;
  height: 650px;
  background: white;
  position: absolute;
  z-index: 99;
}

.window-cont {
  display: none;
  position: fixed;
  top: 1%;
  left: 0.5%;
  min-height: 650px;
  min-width: 1100px;
}
.window {
  background: #fefefe;
  min-height: 650px;
  min-width: 1370px;

  display: grid;
  grid-template-rows: 18% 1fr 13%;
}

.window__header {
  height: 100%;
  width: 100%;
  background: rgba(92, 11, 0, 0.78);
  display: flex;
  align-items: center;

  padding: 0 20px 0 20px;
}

.esc {
  width: 80px;
}

.window__tittle {
  width: 550px;
  margin: 0 300px;
}

.w__img-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.window__logo {
  height: 95px;
  width: 90px;
}

.window__img {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}
.w__img__tittle {
  background: #3d0700;
}

.w__img {
  width: 100%;
}

.window__footer {
  height: 100%;
  width: 100%;
  background: #3d0700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.w__nums {
  width: 260px;
  font-size: 12px;
  color: #ffd3e4;
}
.w__nums button {
  color: inherit;
  font-weight: bold;
}

.address {
  width: 300px;
  font-weight: bold;
  color: #ffd3e4;
}

.fourth-page {
  height: 1800px;
  min-width: 100vw;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0, rgba(176, 1, 0, 0) 100%),
    url("./items/mountaon3.png") center / cover;
}

.calculator {
  height: 600px;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0, rgba(64, 0, 1, 0) 100%);
}
.calculator h2 {
  width: 100%;
  height: 100px;
  padding: 1%;
  padding-left: 50px;
  font-weight: bolder;
  font-size: 54px;
  margin: 0;
}

.calculator__header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #390002;
  padding: 0 50px;
}

.area {
  height: 100%;
  display: flex;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

.area__label {
  height: 50px;
  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.area__block {
  height: 50px;
  width: 80px;
  background: #230002;
  color: #fff8fb;

  display: flex;
  align-items: center;
  justify-content: center;
}

.area input:checked + .area__block {
  background: #fff8fb;
  color: #230002;
}

.currency{
  width: 140px;
  display: flex;
  align-items: center;
}

.currency__btn {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  font-size: 14px;
  background: #fff8fb;
  color: #230002;
}

.price__label {
  height: 50px;
  width: 100px;
  /* background: #230002; */
  color: #fff8fb;
.footer__links {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.103);
  border-radius: 18px;
  padding: 15px;
}

.footer__links .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links a {
  font-size: 20px;
}

.footer__contacts button {
  font-size: 20px;
}

@media (max-width: 1500px) {
    .third-page{
        display: none;
    }
}

@media (max-width: 1200px) {
  * {
    box-sizing: border-box;
  }

  .first-page {
    display: grid;
    background: unset;
  }

  .bg {
    background: no-repeat
        linear-gradient(
          180deg,
          rgba(64, 0, 1, 0.65) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
      url("./items/6_Interactive LightMix.jpg") center / cover;
  }

  .header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  nav {
    display: none;
  }

  .languages {
    width: 25px;
    height: 60px;
  }

  .contact-list__text {
    width: 50%;
    height: 60px;
    background: rgba(255, 5, 0, 0.25);
    font-size: 8px;
    font-weight: bold;
    padding: 2px 0 0 5px;
    border-radius: 0 18px 18px 18px;
    line-height: 18px;
    cursor: pointer;
  }

  .languages__btn {
    width: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .second-page {
  }

  .second-page__bg {
    height: 100%;
    background: white;

    text-align: center;
  }

  .second-page__tittle {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-rows: 40% 1fr;
  }

  .second-page__tittle h2 {
    align-self: end;
    font-size: 18px;
    font-weight: bold;
    color: #5c0001;
  }

  .second-page__tittle__ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .second-page__tittle ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0;
  }

  .second-page__tittle ul li {
    width: 200px;
    text-align: start;
    font-size: 14px;
    color: #5c0001;
    margin-left: 30px;
  }

  .third-page {
    display: none;
  }

  .fourth-page {
    height: 1700px;
    min-width: 1000px;
  }

  .currency span, .area span{
    font-size: 14px;
  }

  .fourth-page__footer h3 {
    margin: 0;
    font-size: 24px;
  }

  .fourth-page__footer span {
    font-size: 14px;
  }

  .fourth-page__footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    align-items: center;
    padding: 0 40px;
  }

  .footer__contacts__btn button {
    font-size: 14px;
  }
}
display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.price__block {
  height: 50px;
  width: 100px;
  background: #230002;
  color: #fff8fb;

  display: flex;
  align-items: center;
  justify-content: center;
}

.price__label input:checked + .price__block {
  background: #fff8fb;
  color: #230002;
}

.calculator span {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.calculator__header label,
.calculator__header button {
  font-size: 18px;
  font-weight: bold;
  /* background: #230002; */
  margin: 0 3px;
}

/* .calculator__header button:hover {
  border: 1px solid white;
  background: #fefefe;
  color: #390002;
} */

.price {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculator__body {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}

.first-payment {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #300700;
  margin-bottom: 20px;
  padding: 20px;
}

.first-payment span,
.payment-for-month span {
  height: auto;
}

.payment-for-month {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #300700;
  padding: 20px;
}

.line {
  width: 1000px;
  height: 12px;
  background: #fefefe;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 1px;
}

.slider1,
.slider2 {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 8px; /* Specified height */
  background: #2a0001; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.slider1:hover,
.slider2:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider1::-webkit-slider-thumb,
.slider2::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 100px; /* Slider handle height */
  background: #1a0500; /* Green background */
  cursor: pointer; /* Cursor on hover */
  opacity: 1;
}

.line-bg {
  width: 100%;
  height: 8px;
  background: #300700;
}

.calculator__footer {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.total-price,
.remained-payment,
.total-payment {
  display: flex;
  align-items: center;
}

.total-price div,
.remained-payment div,
.total-payment div {
  width: 80px;
  height: 50px;
  font-size: 24px;
  border: 2px solid #fefefe;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(187, 166, 166, 0.199);

  margin: 50px 0;
}

iframe {
  padding: 0 5%;
  width: 90%;
  height: 600px;
}

.fourth-page__footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 100px;
  align-items: center;
  padding: 0 80px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.103);
  border-radius: 18px;
  padding: 15px;
}

.fourth-page__footer h3 {
  width: 100%;
  margin: 0;
  font-size: 34px;
}

.fourth-page__footer span {
  width: 100%;
  font-size: 20px;
}

.footer__contacts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.103);
  border-radius: 18px;
  padding: 15px;
}

.social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}