{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic,cyrillic-ext"
            rel="stylesheet">

    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}
        There is no content yet
    {% endblock %}
</body>
</html>