{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={% static 'home.css' %} />
    <title>Document</title>
  </head>
  <body>
    <div class="accordion">
      <input id="color-2ecc71" name="color" type="radio" />
      <label for="color-2ecc71" class="accordion__item" id="first">
        <a href={% url 'index_url' %} id="first__cont" class="container">
          <div class="img-cont">
            <img
                    src={% static 'items/home-page/city.png' %}
                    alt=""
                    class="first__img"
            />
            <h2>НЕДВИЖИМОМТИ</h2>
          </div>
          <div class="tittle">
            <img src={% static 'items/for-btns.png' %} alt="" style="">
            <h2>
              Все проекты возводятся с применением высококачественных строительных материалов, отвечают высоким
              требованиям современного жилищного строительства.
            </h2>
          </div>
        </a>
      </label>

      <input id="color-e74c3c" name="color" type="radio" />
      <label for="color-e74c3c" class="accordion__item">
        <a id="second__cont" class="container">
          <div class="img-cont">
            <img
                    src={% static 'items/home-page/cityy.png' %}
                    alt=""
                    class="img"
            />
            <h2>КОМПАНИЯ ДАТКА-КУРУЛУШ</h2>
          </div>

          <div class="tittle">
            <img src={% static 'items/home-page/worker.jpg' %} alt="">
            <h2>
              Все проекты возводятся с применением высококачественных строительных материалов, отвечают высоким
              требованиям современного жилищного строительства.
            </h2>
          </div>

        </a>
      </label>

      <input id="color-3498db" name="color" type="radio" />
      <label for="color-3498db" class="accordion__item">
        <a id="third__cont" class="container">
          <div class="img-cont">
            <img
                    src={% static 'items/home-page/peoples.png' %}
                    alt=""
                    class="img"
            />
            <h2>ПОДРЯТНЫЕ РАБОТЫ</h2>
          </div>

          <div class="tittle">
            <img src={% static 'items/home-page/worker.jpg' %} alt="">
            <h2>
              Все проекты возводятся с применением высококачественных строительных материалов, отвечают высоким
              требованиям современного жилищного строительства.
            </h2>
          </div>

        </a>
      </label>

      <input id="color-f1c40f" name="color" type="radio" />
      <label for="color-f1c40f" class="accordion__item">
        <a id="fourth__cont" class="container">
          <div class="img-cont">
            <img
                    src={% static 'items/home-page/investd.png' %}
                    alt=""
                    class="img"
            />
            <h2>ИНВЕСТОРАМ И ПАРТНЕРАМ</h2>
          </div>

          <div class="tittle">
            <img src={% static 'items/home-page/worker.jpg' %} alt="">
            <h2>
              Все проекты возводятся с применением высококачественных строительных материалов, отвечают высоким
              требованиям современного жилищного строительства.
            </h2>
          </div>

        </a>
      </label>
    </div>
  </body>
  <script src={% static 'home.js' %}></script>
</html>