{% extends 'base.html' %}
{% load static %}
    {% block title %}
    Кок-Жар
    {% endblock %}
{% block content %}
    <div class="first-page" id="first-page">
      <div class="bg">
        <div class="header">
          <div class="logo">
            <button>
              <img
                src="{% static 'items/logo/LOGO%20DATKA%20PDF1.png' %}"
                class="datka-img"
                alt=""
              />
            </button>
            <div class="logo__text">Стройте свое будущее вместе с нами</div>
          </div>
          <nav>
            <button>
              <a href="{% url 'main_url' %}" style="color: inherit;">Главная</a>
            </button>
            <button>Объекты</button>
            <button>О компании</button>
            <button>Новости</button>
            <button>Контакты</button>
            <button>Опрос</button>
          </nav>
          <div class="contact-list">
            <!--                <div class="languages">-->
            <!--                    <span class="languages__btn languages__btn1 ">RU</span>-->
            <!--                    <span class="languages__btn languages__btn2">KG</span>-->
            <!--                    <span class="languages__btn languages__btn3">EN</span>-->
            <!--                </div>-->
            <div class="nums">
              <button>+996 706 52 22 22</button>
              <button>+996 771 52 22 22</button>
              <button>+996 776 52 22 22</button>
            </div>
            <div class="contact-list__text">
              Заказать обратный звонок
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="second-page">
      <div class="second-page__bg">
        <div class="first-rows rows">
          <div class="row">
            <div class="row__img">
              <b>11</b> <br />
              <span>этажей</span>
            </div>
            <div class="row__tittle">Этажность</div>
          </div>
          <div class="row">
            <div class="row__img">
              <span>От</span> <br />
              <b>30,2</b> <br />
              <span>кв.м</span>
            </div>
            <div class="row__tittle">Площадь квартир</div>
          </div>
          <div class="row">
            <div class="row__img"><b>1-3</b></div>
            <div class="row__tittle">Количество комнат</div>
          </div>
          <div class="row">
            <div class="row__img">
              <img
                src="{% static 'items/block.png' %}"
                style="width: 80px;"
                alt=""
              /><br />
              <span>монолит кирпич</span>
            </div>
            <div class="row__tittle">Тип дома</div>
          </div>
          <div class="row">
            <div class="row__img">
              <img
                src="{% static 'items/location.png' %}"
                style="width: 80px;"
                alt=""
              />
            </div>
            <div class="row__tittle">Центральная улица г. Бишкек</div>
          </div>
        </div>

        <div class="second-page__tittle second-page__first-tittle">
          <h2>Преимущества дома</h2>
          <div class="second-page__tittle__ul">
            <ul>
              <li>Расположение на первой линии</li>
              <li>
                Бесперебойно работающие лифты высокого качества (пр-ва Турции)
              </li>
              <li>Удобная планировка этажей и квартир</li>
            </ul>
            <ul>
              <li>Подключение ко всем центральным коммуникациям</li>
              <li>Демократичная цена</li>
              <li>Развитая инфраструктура</li>
            </ul>
          </div>
        </div>

        <div class="second-rows rows">
          <div class="row">
            <div class="row__img">
              <img
                style="width: 100px;"
                src="{% static 'items/lift.png' %}"
                alt=""
              />
            </div>
            <div class="row__tittle">Бесшумные скоростные лифты</div>
          </div>
          <div class="row">
            <div class="row__img">
              <img
                style="width: 100px;"
                src="{% static 'items/otoplenie.png' %}"
                alt=""
              />
            </div>
            <div class="row__tittle">Центральное отопление</div>
          </div>
          <div class="row">
            <div class="row__img" style="opacity: 0.8">
              <img
                style="width: 70px;"
                src="{% static 'items/fire.png' %}"
                alt=""
              />
            </div>
            <div class="row__tittle">Природный газ</div>
          </div>
          <div class="row">
            <div class="row__img" style="opacity: 0.8">
              <img
                src="{% static 'items/window-house-home-512.png' %}"
                style="width: 100px;"
                alt=""
              /><br />
            </div>
            <div class="row__tittle">4-камерные пластиковые окна</div>
          </div>
          <div class="row">
            <div class="row__img" style="opacity: 0.8">
              <img
                src="{% static 'items/утеплитель.png' %}"
                style="width: 120px;"
                alt=""
              />
            </div>
            <div class="row__tittle">Декоративный фасадный утеплитель</div>
          </div>
          <div class="row">
            <div class="row__img" style="opacity: .8">
              <img
                src="{% static 'items/lock.png' %}"
                style="width: 120px;"
                alt=""
              />
            </div>
            <div class="row__tittle">Бронированные входные двери</div>
          </div>
        </div>

        <div class="second-page__tittle second-page__first-tittle">
          <h2>Что находится рядом</h2>
          <div class="second-page__tittle__ul">
            <ul>
              <li>
                В пешей доступности Дошкольные образовательные организации №118,
                №9
              </li>
              <li>Профессиональный лицей №99</li>
              <li>Спортивный комплекс</li>
            </ul>
            <ul>
              <li>Mагазин "Супер Арзан"</li>
              <li>Городское отделение ГАИ</li>
              <li>Гипермаркет "Фрунзе"</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="third-page">
      <div class="third-page__btns">
        <h2>Типовая планировка</h2>

        <div class="house-cont-for-btn">
          <button
            name="11"
            value="{% static 'items/floors/11.png' %}"
            class="btn11 domik__btn"
          ></button>
          <button
            name="10"
            value="{% static 'items/floors/10.png' %}"
            class="btn10 domik__btn"
          ></button>
          <button
            name="9"
            value="{% static 'items/floors/1-9.png' %}"
            class="btn9 domik__btn"
          ></button>
          <button
            name="8"
            value="{% static 'items/floors/1-9.png' %}"
            class="btn8 domik__btn"
          ></button>
          <button
            name="7"
            value="{% static 'items/floors/1-9.png' %}"
            class="btn7 domik__btn"
          ></button>
          <button
            name="6"
            value="{% static 'items/floors/1-9.png' %}"
            class="btn6 domik__btn"
          ></button>
          <button
            name="5"
            value="{% static 'items/floors/1-9.png' %}"
            class="btn5 domik__btn"
          ></button>
          <button
            name="4"
            value="{% static 'items/floors/1-9.png' %}"
            class="btn4 domik__btn"
          ></button>
          <button
            name="3"
            value="{% static 'items/floors/1-9.png' %}"
            class="btn3 domik__btn"
          ></button>
          <button
            name="2"
            value="{% static 'items/floors/1-9.png' %}"
            class="btn2 domik__btn"
          ></button>
          <button name="1" class="btn1 domik__btn"></button>
        </div>

        <div class="window-cont">
          <div class="window">
            <div class="window__header">
              <img
                class="window__logo"
                src="{% static 'items/logo/LOGO%20DATKA%20PDF1.png' %}"
                alt=""
              />
              <img
                src="{% static 'items/floors/лого.png' %}"
                class="window__tittle"
                alt=""
              />
              <button class="esc-btn">
                <img src="{% static 'items/x.png' %}" class="esc" alt="" />
              </button>
            </div>

            <div class="window__img">
              <div class="w__img__tittle">
                <h2>Блок EXAMPLE</h2>
              </div>
              <div class="w__img-cont">
                <img class="w__img" src="" alt="" />
              </div>
            </div>

            <div class="window__footer">
              <div class="address">
                <a href="" style="color:inherit;">sk.datkakurulush@gmail.com</a>
                Бишкек, ул.Калыка Акиева, 95
              </div>
              <div class="w__nums">
                <button>+996 999 52 22 22</button>
                <button>+996 556 52 22 22</button>
                <br />
                <button>+996 706 52 22 22</button>
                <button>+996 771 52 22 22</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fourth-page">
      <div class="calculator">
        <h2>Калькулятор</h2>
        <div class="calculator__header">
          <div class="currency">
            <span>Валюта</span>
            <button class="currency__btn">USD</button>
          </div>
          <div class="area">
            <span>Площадь квартиры (м2):</span>
            <label class="area__label" for="area-1">
              <input id="area-1" type="radio" value="50" name="area" />
              <span class="area__block">50</span>
            </label>

            <label class="area__label" for="area-2">
              <input id="area-2" type="radio" value="70" name="area" />
              <span class="area__block">70</span>
            </label>

            <label class="area__label" for="area-3">
              <input id="area-3" type="radio" value="95" name="area" />
              <span class="area__block">95</span>
            </label>

            <label class="area__label" for="area-4">
              <input id="area-4" type="radio" value="120" name="area" />
              <span class="area__block">120</span>
            </label>

            <label class="area__label" for="area-5">
              <input id="area-5" type="radio" value="150" name="area" />
              <span class="area__block">150</span>
            </label>
          </div>
          <div class="price">
            <span>Цена за м2:</span>
            <label class="price__label" for="price-1">
              <input id="price-1" type="radio" name="price" value="650" />
              <span class="price__block">650$</span>
            </label>
            <label class="price__label" for="price-2">
              <input id="price-2" type="radio" name="price" value="700" />
              <span class="price__block">700$</span>
            </label>
          </div>
        </div>
        <div class="calculator__body">
          <div class="first-payment">
            <span
              >Первоначальный <br />
              взнос (%):</span
            >
            <div class="line">
              <input
                type="range"
                min="0"
                max="100"
                value="50"
                class="slider1"
                id="myRange1"
              />
            </div>
            <p id="slider1-num">50%</p>
          </div>
          <div class="payment-for-month">
            <span>Срок рассрочки :</span>
            <div class="line">
              <input
                type="range"
                min="1"
                max="36"
                value="50"
                class="slider2"
                id="myRange2"
              />
            </div>
            <p id="slider2-num">1m</p>
          </div>
        </div>
        <div class="calculator__footer">
          <div class="total-price">
            <span>Стоиомость квартиры:</span>
            <div class="total-price__nums"></div>
          </div>
          <div class="remained-payment">
            <span>Первоначальный взнос:</span>
            <div class="remained-payment__nums"></div>
          </div>
          <div class="total-payment">
            <span>Ежемесячный платеж :</span>
            <div class="total-payment__nums"></div>
          </div>
        </div>
      </div>

      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5853.743826024057!2d74.62117899419215!3d42.81219271022631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb5c442714cd9%3A0xf0b56c9a83919413!2z0JbQuNC70L7QuSDQutC-0LzQv9C70LXQutGBICLQndC40YbRhtCwIiAo0KLQodCWINCd0LjRhtGG0LAp!5e0!3m2!1sru!2skg!4v1584118970382!5m2!1sru!2skg"
          width="600"
          height="450"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        >
        </iframe>
      </div>

      <div class="fourth-page__footer">
        <div class="footer__logo">
          <img
            src="{% static 'items/logo/LOGO DATKA PDF1.png' %}"
            style="width: 200px;"
            alt=""
          />
        </div>
        <div class="footer__address">
          <h3>Мы находимся</h3>
          <span
            >г. Бишкек,<br />
            ул.Калыка Акиева 95,<br />
            БЦ «АТРИУМ» / 8 этаж</span
          >
        </div>
        <div class="footer__contacts">
          <h3>Контактные данные</h3>
          <div class="footer__contacts__btn">
            <button>+996 999 52 22 22</button>
            <button>+996 556 52 22 22</button>
            <button>+996 706 52 22 22</button>
            <button>+996 771 52 22 22</button>
            <button>+996 776 52 22 22</button>
          </div>
        </div>
        <div class="footer__links">
          <div class="social">
            <button>
              <img
                src="{% static 'items/links/facebook-icon-white-png-6.png' %}"
                style="width: 50px;"
                alt=""
              />
            </button>
            <button>
              <img
                src="{% static 'items/links/white-instagram-icon-png.png' %}"
                style="width: 50px;"
                alt=""
              />
            </button>
            <button>
              <img
                src="{% static 'items/links/800px-YouTube_light_logo_(2017).svg.png' %}"
                style="width: 50px;"
                alt=""
              />
            </button>
            <button>
              <img
                src="{% static 'items/links/tweet.png' %}"
                style="width: 50px;"
                alt=""
              />
            </button>
          </div>
          <div class="link">
            <a href="">sk.datkakurulush@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  <script src="{% static 'script.js' %}"></script>
{% endblock %}
</html>
